<%= form_for(@user, :as => "user", :url => users_path(@user), :html => {:class => "form-horizontal", :id => "signup-form"}) do |f| %>
  <h2 class="controls">
    <%= t("signup.%stitle" % (@is_complete ? "complete." : ""), :name => @user.name) %>
  </h2>

  <% if @sina_user_id -%>
    <div class="text-success control-group controls">
      <%= t("signup.complete.hint") %>
    </div>
  <% end -%>

  <%= (hidden_field_tag :sina_id, @sina_user_id) if @sina_user_id %>

  <div class="control-group" id="signup-name-field">
    <%= f.label :name, t("signup.name"), :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "signup-input" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group" id="signup-email-field">
    <%= f.label :email, t("signup.email"), :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :auto_focus => true, :class => "signup-input" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group" id="signup-password-field">
    <%= f.label :password, t("signup.password"), :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => "signup-input" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group" id="signup-password-confirmation-field">
    <%= f.label :password_confirmation, t("signup.password_confirmation"), :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "signup-input" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group" id="signup-agree_pp-field">
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :agree_pp, :checked => true %>
        <%= t("signup.agree_pp").html_safe %>
        <span class="help-inline"></span>
      </label>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t("signup.%ssubmit" % (@is_complete ? "complete." : "")), :class => "signup-button blue-button small-button" %>
      <%= link_to image_tag("sina30.png"), sina_connect_path %>
    </div>
  </div>

<% end %>
