<div class="container no-head-carousel signup-page">
  <%= content_tag "div", :id => "redirect", "data-login" => root_path do %>
  <% end %>
  <div class="span12">
    <div class="bordered-content">
      <div class="row-fluid">
        <% if @is_complete -%>
          <div class="span6 with-right-border">
            <%= render :partial => "new_form" %>
          </div>
          <div class="span6">
            <%= render :partial => "bind_account" %>
          </div>
        <% else %>
          <div class="span6 with-right-border">
            <%= image_tag "signup-heart.jpg" %>
          </div>
          <div class="span6">
            <%= render :partial => "new_form" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= javascript_tag do %>
    $($("#signup-form").showSignupErrors(<%= @user.errors.to_json.html_safe %>, "signup"));
  <% end %>

</div>

