<div class="container no-head-carousel">
  <div class="span12">
    <div class="bordered-content">
      <div class="row-fluid">
        <% if @is_complete -%>
          <div class="span6 with-right-border">
            <%= render :partial => "new_form" %>
          </div>
          <div class="span6">
            <%= render :partial => "bind_account" %>
          </div>
        <% else %>
          <div class="span6">
            <%= render :partial => "new_form" %>
          </div>
          <div class="span6">
            <%= render :partial => "login_with_account" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= javascript_tag do %>
    $($("#signup-form").showSignupErrors(<%= @user.errors.to_json.html_safe %>, "signup"));
  <% end %>

</div>

