<% gen_link_for_item ||= lambda { |item| "#" } %>
<% key_s = key.pluralize %>
<div id="<%= key_s %>" class="section container">
  <% unless no_title ||= false %>
    <h4 class="section-head"><%= t("%s.%s_title" % [path, key]) %></h4>
  <% end %>
  <div id="<%= key_s %>-carousel" class="carousel slide col<%= items_per_col %>-carousel">
    <% first = true %>
    <div class="carousel-inner">
      <% items.in_groups_of(items_per_col, false) do |group| %>
        <div class="row item <%= first ? 'active' : '' %>">
          <% group.each do |item| %>
            <div class="<%= klass_for_col(items_per_col) %>">
              <%= link_to gen_link_for_item.call(item) do %>
                <%= image_tag item.thumbnail_small %>
                <div class="caption">
                  <%= item.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <% first = false %>
      <% end %>
    </div>
    <% if items.length > items_per_col %>
      <%= link_to "<", "#", :class => "carousel-control-left carousel-control left", "data-slide" => "prev", "data-target" => "#%s-carousel" % key_s %>
      <%= link_to ">", "#", :class => "carousel-control-right carousel-control right", "data-slide" => "next", "data-target" => "#%s-carousel" % key_s %>
    <% end %>
  </div>
</div>
