<div class="modal hide" id="signin-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t("signin.title") %></h3>
  </div>

  <div class="modal-body">
    <%= form_for(nil, :as => :user, :url => session_path(:user), :remote => true, :html => {:class => "form-horizontal", :id => "signin-form"}) do |f| %>

      <div class="alert alert-error hide">
        <%= content_tag :div, "", :class => "message" %>
      </div>

      <div class="control-group">
        <%= f.label :email, I18n.t("signin.email"), :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, I18n.t("signin.password"), :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, I18n.t("signin.remember_me") %>
          </label>
          <%= f.submit I18n.t("signin.submit") %>
          <%= link_to t("forgot_password.link"), new_password_path(:user) %>
        </div>
      </div>
    <% end %> 
  </div>
</div>
