<div class='container' >
  <%= content_tag :h1, @project.headline %>
  <%= form_tag( {:action => "pay"}, :method => :post, :id => 'donate-form', :target => :blank) do %>
    <div>
      <%= content_tag :h2, t("payment.select_donate_amount") %>
      <ul id='donate-amount-select' class='span8' >
        <% [1,5,10,20,50,100].each do |v| %>
          <li class='span2'>
            <%= radio_button_tag :donate_amount, v %>
            <%= label_tag "payment.donate_amount_"+v.to_s, t("payment.donate_amount_"+v.to_s), :class => "amount-text" %>
          </li>
        <% end %>
        <li class='span4'>
          <%= radio_button_tag :donate_amount, "other" %>
          <%= label_tag "payment.donate_amount_other", t("payment.donate_amount_other"), :class => "amount-text" %>
          <%= text_field_tag :input_amount, "", :disabled => true %>
        </li>
        <div style="clear: both;"> </div>
      </ul>
      <div style="clear: both;"> </div>

      <%= content_tag :h2, t("payment.select_payment") %>
      <ul id='payment-select' >
        <% @payment_bank.each do |h| %>
          <li class='span3'>
            <%= radio_button_tag :payment_method, h[:name] %>
            <div class='payment-logo'>
              <%= image_tag h[:img_url] %>
            </div>
          </li>
        <% end %>
        <div style="clear: both;"> </div>
      </ul>
      <div style="clear: both;"> </div>

      <%= content_tag :h2, t("payment.select_payment") %>
      <ul id='payment-select' >
        <% @payment_target.each do |h| %>
          <li class='span3'>
            <%= radio_button_tag :payment_method, h[:name] %>
            <div class='payment-logo'>
              <%= image_tag h[:img_url] %>
            </div>
          </li>
        <% end %>
        <div style="clear: both;"> </div>
      </ul>
      <div style="clear: both;"> </div>
    </div>
    <%= hidden_field_tag :project_id, @project.id %>
    <div><%= submit_tag t("payment.pay"), :id => 'pay-submit', :class => "btn btn-primary" %></div>
  <% end %>
</div>
<%= render :partial=>'pay_confirm_popup' %>
