<div class="floating-signup-form home-signup-form-container" id="home-signup-form">
  <%#= link_to "", sina_connect_path, :class => "sina-connect-button" %>
  <%= link_to image_tag("sina32.png", :style => "width: auto;"), sina_connect_path, :class => "home-sina-connect-container" %>
  <div class="or-seperator"></div>
  <%= form_for User.new, :as => :user, :html => {:class => "home-signup-form"} do |f| %>
    <%= hidden_field_tag "ignore_password_confirmation", "1" %>
    <div>
      <%= f.text_field :name, :auto_focus => true, "data-placeholder" => t("signup.name"), :autocomplete => :off, :class => "placeholder" %>
    </div>
    <div>
      <%= f.email_field :email, "data-placeholder" => t("signup.email"), :autocomplete => :off, :class => "placeholder" %>
    </div>
    <div>
      <%= f.password_field :password, "data-placeholder" => t("signup.password"), :autocomplete => :off, :class => "placeholder" %>
    </div>
    <div>
      <%= submit_tag :submit, :value => t("signup.submit"), :class => "small-button blue-button signup-button" %>
    </div>
  <% end %>
</div>
