<div class="share-comment-container">
  <div class="share-title" >
    <%= button_link "blue-btn" do %>
      <% link_to t("home.yaan.title"), "#", :onclick => "jQuery('#weibo-share').click(); return false;" %>
    <% end %>
  </div>
  <div class="jiathis-button-container">
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style_24x24">
      <%#= link_to "#", :remote => true, :class => "loggedin hidden" do %>
        <%#= image_tag "sina-logo-s24.png", :class => "jiathis_txt jticon", :style => "padding-right: 4px;" %>
      <%# end %>
      <a class="jiathis_button_tsina" id='weibo-share'></a>
      <a class="jiathis_button_renren"></a>
      <a class="jiathis_button_douban"></a>
      <a class="jiathis_button_tqq"></a>
      <a class="jiathis_button_qzone"></a>
      <a href="http://www.jiathis.com/share?uid=89712" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
    </div>
    <!-- JiaThis Button END -->
    <div class="clearfix"></div>
  </div>
</div>

<%= image_tag "yaan.jpg", "data-image-large" => image_path("yaan.jpg"), :class => "resizeable" %>

<script type="text/javascript" >
var jiathis_config={
    data_track_clickback:true,
    url: document.location.href,
    siteNum: 10,
    sm:"kaixin001,renren,tsohu,t163,douban,tieba,msn,qq,youdao,qingsina",
    summary: "<%= t("home.yaan.default_share_text") %>",
    title: "<%= t("home.yaan.share_title") %>",
    searchPic: false,
    pic: <%= "#{ASSET_HOST}#{image_path("yaan.jpg")}".to_json.html_safe %>,
    ralateuid:{
        "tsina":"2869358377"
    },
    appkey:{
        "tsina": <%= WeiboOAuth2::Config.api_key.to_json.html_safe %>
    },
    hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=89712" charset="utf-8"></script>
