<div id="head-carousel" class="carousel slide head-carousel nav-scroll-control">
  <!-- Carousel Items -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="container relative">
        <%= render :partial => "signup_form" %>
      </div>
      <%= image_tag "home.jpg", "data-image-large" => image_path("home-1600.jpg"), :class => "resizeable" %>
    </div>
    <% @carousels.each_with_index do |carousel, i| %>
      <div class="item">
        <%= link_to project_path(carousel.project.id) do %>
          <%= image_tag carousel.project.thumbnail("1280"), :alt => carousel.project.headline, :class => "resizeable", "data-image-large" => carousel.project.thumbnail("1600") %>
        <% end %>
        <div class="container head-carousel-float-content">
          <%#= link_to "", donate_path(:project_id => carousel.project.id), :class => "view-project-button donation-button hideable" %>
          <%= button_link "blue-btn view-project-button hideable" do %>
            <% link_to t("projects.info.donate"), donate_path(:project_id => carousel.project.id),
                :class => "no-decoration" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "#", :class => "carousel-control left hideable", "data-target" => "#head-carousel" do %>
    <span class="carousel-control-left">
    </span>
  <% end %>
  <%= link_to "#", :class => "carousel-control right hideable", "data-target" => "#head-carousel" do %>
    <span class="carousel-control-right">
    </span>
  <% end %>
  <div class="container relative">
    <div class="carousel-nav-dots">
      <span class="nav-dot nav-dot-active"></span>
      <% 1.upto(@carousels.length).each do |i| %>
        <span class="nav-dot"></span>
      <% end %>
    </div>
  </div>
</div>

<div class="slogon container">
  <div><%= t("home.slogon.item1").html_safe %></div>
</div>

<div id="head-summary" class="head-summary-tall relative">
  <div class="container summary-container">
    <div class="summary-item first">
      <div class="num">
        <%= number_with_delimiter(@summary[:projects_count]) %>
      </div>
      <div class="text">
        <%= t("home.summary.text.projects_count") %>
      </div>
    </div>
    <div class="summary-item larger">
      <div class="num">
        <%= number_with_delimiter(@summary[:amount]) %>
      </div>
      <div class="text">
        <%= t("home.summary.text.amount") %>
      </div>
    </div>
    <div class="summary-item larger">
      <div class="num">
        <%= number_with_delimiter(@summary[:people_count]) %>
      </div>
      <div class="text">
        <%= t("home.summary.text.people_count") %>
      </div>
    </div>
    <div class="summary-item last">
      <div class="num">
        <%= number_with_delimiter(@summary[:charities_count]) %>
      </div>
      <div class="text">
        <%= t("home.summary.text.charities_count") %>
      </div>
    </div>
  </div>
</div>

<div class="supports-list container">
  <h4 class="section-head"><%= t("home.supports.title") %></h4>
  <%= link_to :controller => :supports, :action => :index do %>
    <%= image_tag "cunxin-everybody.jpg" %>
  <% end %>
</div>

<div class="cunxin-detail container-fluid container">
  <div class="row-fluid">
    <% 0.upto(2).each do |i| %>
      <div class="span4">
        <h4 class="section-head">
          <%= t("home.details")[i]["title"] %>
        </h4>
        <div class="description">
          <%= t("home.details")[i]["description"].html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="cunxin-charities-container">
  <div class="container">
    <h4 class="section-head"><%= t("home.charity_title") %></h4>
    <% t("home.charity_links").each do |item| %>
      <%= link_to item["link"], :class => "hoverable-image-container charity-link", :target => "blank" do %>
        <%= image_tag item["image"], :alt => item["title"], :class => "hoverable-image-normal" %>
        <%= image_tag item["hover_image"], :alt => item["title"], :class => "hoverable-image-hover" %>
      <% end %>
    <% end %>
  </div>
</div>

<%#= render :partial => "shared/colx_carousel", :locals => {
      :items => @charities, 
      :key => "charity", 
      :path => "home",
      :items_per_col => 4,
      :show_caption => true,
      :link_opts_for_item => lambda {|item| [charity_path(item.id)] } } %>
