<div id="head-carousel" class="carousel slide head-carousel">
  <!-- Carousel Items -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "home-desc.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "version1.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "version3.jpg" %>
    </div>
    <% @carousels.each_with_index do |carousel, i| %>
      <div class="item">
        <%= link_to project_path(carousel.project.id) do %>
          <%= image_tag carousel.project.thumbnail_large, :alt => carousel.project.headline %>
        <% end %>
        <div class="container head-carousel-float-content">
          <%= link_to t("home.view_project"), project_path(carousel.project), :class => "view-project-button blue-button" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "<", "#", :class => "carousel-control-left carousel-control left", "data-slide" => "prev", "data-target" => "#head-carousel" %>
  <%= link_to ">", "#", :class => "carousel-control-right carousel-control right", "data-slide" => "next", "data-target" => "#head-carousel" %>
</div>

<div class="slogon container">
  <div><%= t("home.slogon") %></div>
</div>

<div id="head-summary" class="head-summary-tall relative">
  <div class="container summary-container">
    <div class="summary-item first">
      <div class="num">
        <%= number_with_delimiter(@summary[:projects_count], :delimiter => ',') %>
      </div>
      <div class="text">
        <%= t("home.summary.text.projects_count") %>
      </div>
    </div>
    <div class="summary-item larger">
      <div class="num">
        <%= number_with_delimiter(@summary[:amount], :delimiter => ',') %>
      </div>
      <div class="text">
        <%= t("home.summary.text.amount") %>
      </div>
    </div>
    <div class="summary-item larger">
      <div class="num">
        <%= number_with_delimiter(@summary[:people_count], :delimiter => ',') %>
      </div>
      <div class="text">
        <%= t("home.summary.text.people_count") %>
      </div>
    </div>
    <div class="summary-item last">
      <div class="num">
        <%= number_with_delimiter(@summary[:charities_count], :delimiter => ',') %>
      </div>
      <div class="text">
        <%= t("home.summary.text.charities_count") %>
      </div>
    </div>
  </div>
</div>

<div class="cunxin-detail container-fluid container">
  <div class="row-fluid">
    <% 0.upto(2).each do |i| %>
      <div class="span4">
        <div class="title">
          <%= t("home.details")[i]["title"] %>
        </div>
        <div class="description">
          <%= t("home.details")[i]["description"].html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render :partial => "shared/colx_carousel", :locals => {
      :items => @charities, 
      :key => "charity", 
      :path => "home",
      :items_per_col => 4,
      :gen_link_for_item => lambda {|item| charity_path(item.id) } } %>
