<div id="head-carousel" class="carousel slide head-carousel">
  <!-- Carousel Items -->
  <div class="carousel-inner">
    <% @carousels.each_with_index do |carousel, i| %>
      <div class="item <%= i == 0 ? 'active' : '' %>">
        <%= image_tag carousel.project.thumbnail_large %>
      </div>
    <% end %>
  </div>
  <%= link_to "<", "#", :class => "carousel-control-left carousel-control left", "data-slide" => "prev", "data-target" => "#head-carousel" %>
  <%= link_to ">", "#", :class => "carousel-control-right carousel-control right", "data-slide" => "next", "data-target" => "#head-carousel" %>
</div>
<div id="head-summary" class="head-summary">
  <div class="container">
    <%= t("home.summary", @summary).html_safe %>
  </div>
</div>

<%= render :partial => "col3_carousel", :locals => {:items => @charities, :key => "charity"} %>
<%= render :partial => "col3_carousel", :locals => {:items => @donators, :key => "donator"} %>
<%= render :partial => "col3_carousel", :locals => {:items => @consults, :key => "consult"} %>
