<div id="head-carousel" class="carousel slide head-carousel">
  <!-- Carousel Items -->
  <div class="carousel-inner">
    <% @carousels.each_with_index do |carousel, i| %>
      <div class="item <%= i == 0 ? 'active' : '' %>">
        <%= link_to project_path(carousel.project.id) do %>
          <%= image_tag carousel.project.thumbnail_large %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "<", "#", :class => "carousel-control-left carousel-control left", "data-slide" => "prev", "data-target" => "#head-carousel" %>
  <%= link_to ">", "#", :class => "carousel-control-right carousel-control right", "data-slide" => "next", "data-target" => "#head-carousel" %>
</div>
<div id="head-summary" class="head-summary relative">
  <div class="container">
    <div class="span8">
      <%= t("home.summary", @summary).html_safe %>
    </div>
    <div class="span3">
      <div id="head-carousel-control-button" class="head-carousel-control-button">
        <% @carousels.each_with_index do |carousel, i| %>
          <%= link_to "", "#", :class => "carousel-control-button #{i==0 ? 'active' : ''}", "data-carousel-index" => i %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "shared/colx_carousel", :locals => {
      :items => @charities, 
      :key => "charity", 
      :path => "home",
      :items_per_col => 4,
      :gen_link_for_item => lambda {|item| charity_path(item.id) } } %>
<%= render :partial => "shared/colx_carousel", :locals => {
      :items => @donators, 
      :key => "donator", 
      :path => "home",
      :items_per_col => 4,
      :gen_link_for_item => lambda {|item| contributor_path(item.id) } } %>
<%= render :partial => "shared/colx_carousel", :locals => {
      :items => @consults, 
      :key => "consult", 
      :path => "home",
      :items_per_col => 4,
      :gen_link_for_item => lambda {|item| contributor_path(item.id) } } %>
