<div class="project-desc-info">
  <div class="column left">
    <table class="project-desc-info-content">

      <tr class="desc-content">
        <%= content_tag :td, t("projects.desc_info.charity"), :class => "col1" %>
        <%= content_tag :td, @project.charity.name, :class => "col2" %>
      </tr>

      <tr class="desc-content">
        <%= content_tag :td, t("projects.desc_info.published_at"), :class => "col1" %>
        <%= content_tag :td, l(@project.start_date.to_date), :class => "col2" %>
      </tr>

      <tr class="desc-content">
        <%= content_tag :td, t("projects.desc_info.status"), :class => "col1" %>
        <%= content_tag :td, @status_display, :class => "col2" %>
      </tr>
    </table>
  </div>
  <div class="column right">
    <table class="project-desc-info-content">
      <tr class="desc-content">
        <%= content_tag :td, t("projects.desc_info.target"), :class => "col1" %>
        <%= content_tag :td, @project.target, :class => "col2" %>
      </tr>

      <tr class="desc-content">
        <%= content_tag :td, t("projects.desc_info.finished_at"), :class => "col1" %>
        <%= content_tag :td, l(@project.finished_at.to_date), :class => "col2" %>
      </tr>
    </table>
  </div>
  <div style='clear: both'></div>
</div>
