<div class="project-info">
  <div class="mask opacity5"></div>
  <table class="project-info-content">

    <tr class="desc-content" >
      <%= content_tag :td, @project.headline, :colspan => 2 %>
    </tr>

    <tr>
      <%= content_tag :td, t("projects.info.countdown") %>
      <%= content_tag :td do %> <div id = 'countdown-timer' > </div> <% end %>
    </tr>

    <tr>
      <%= content_tag :td, t("projects.info.current_amount") %>
      <%= content_tag :td, @project.current_amount %>
    </tr>

    <tr class="button-content">
      <td class="col1" colspan=2>
        <div class="followed" id="followed-count-container">
          <%= t("projects.info.has_followed", :count => @project.followed_users.count).html_safe %>
        </div>
        <div class="buttons">
          <%= link_to t("projects.info.donate"), donate_path(:project_id => @project.id),
                :id => "project-donate",
                :class => "blue-button donate-button small-button" %>
          <%= link_to t("projects.info.follow"), follow_path(:id => @project.id), 
                :method => :post,
                :remote => true, 
                "data-check-following-url" => check_following_path(:id => @project.id),
                :id => "project-follow",
                :class => "green-button small-button" %>
          <%= link_to t("projects.info.following"), "#",
                :id => "project-following",
                :style => "display: none;",
                :class => "dark-green-button small-button hidden disabled" %>
        </div>
      </td>
    </tr>

  </table>
</div>
