<div class='masterhead'>
  <div class='container'>
    <div id="head-carousel" class="carousel head-carousel">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @project.thumbnail_large %>
          <div class="carousel-caption">
            <div class="head-desc-container">
              <div class="desc-left">
                <div class="desc-content">
                  <%= content_tag :span, t("projects.progress")%>
                  <div class='progress' style="margin-left: 10px; width: 400px; position: absolute;">
                    <div class='bar' style="width: <%= @project.donated_percentage %>%;"> </div>
                    <div class='progress-text-container' >
                      <%= @project.donated_percentage %>%
                    </div>
                  </div>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.location")%>
                  <%= content_tag :span, @project.location%>
                  <span class="separator" />
                  <%= content_tag :span, t("projects.charity")%>
                  <%= content_tag :span, @project.charity.name rescue "" %>
                </div> 
                <div class="desc-content">
                  <%= content_tag :span, t("projects.target")%>
                  <%= content_tag :span, @project.target %>
                  <span class="separator" />
                  <%= content_tag :span, t("projects.published_at")%>
                  <%= content_tag :span, l(@project.start_date.to_date) %>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.target_amount")%>
                  <%= content_tag :span, @project.target_amount %>
                </div>
              </div>
              <div class="desc-right">
                <div class="followed" id="followed-count-container">
                  <%= image_tag "sina-logo-24.png", :class => "sina-logo" %>
                  <%= t("projects.has_followed", :count => @project.followed_users.count).html_safe %>
                </div>
                <div class="buttons">
                  <%= link_to t("projects.donate"), "#", :class => "donate button" %>
                  <%= link_to t("projects.follow"), follow_path(:id => @project.id), 
                        :method => :post,
                        :remote => true, 
                        :id => "project-follow",
                        :class => "follow button" %>
                </div>
              </div>
              <div style="clear: both"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <%= content_tag :h1, @project.headline %>
    <%= content_tag :div, @project.description, :class => 'description' %>
  </div>
</div>

<%= render :partial => "col4_carousel", :locals => {:items => @photos, :key => "photo", :no_title => true} %>

<div class="comments"> </div>

<% unless @donated_users.blank? %>
  <div class='donated-users container'>
    <%= content_tag :h2, t('projects.donated_users') %>
    <ul>
      <% @donated_users.each do |user| %>
        <li> <%= render :partial => "user_thumb", :locals => { :user => user } %> </li>
      <% end %>
    </ul>
    <div style='clear: both'>
  </div>
<% end %>
