<div class="head-carousel-wrapper">
  <div id="head-carousel" class="carousel head-carousel nav-scroll-control">
    <div class="carousel-inner relative">
      <div class="active item cunxin-thumb-large-container">
        <%= image_tag @project.thumbnail("1280"), :alt => @project.headline, :class => "resizeable", "data-image-large" => @project.thumbnail("1600") %>
      </div>
    </div>
  </div>
  <div class="cunxin-thumb-indicator"> </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @photos,
        :path => "projects",
        :key => "photo",
        :no_title => true,
        :show_caption => false,
        :link_opts_for_item => lambda {|item|
    ["#", {:class => "cunxin-thumb", "data-cunxin-thumb-large-src" => [item.thumb("1280"), item.thumb("1600")].join(" ")}] },
        :items_per_col => 5 } %>
</div>

<div class="project-description-content">
  <div class="container container-fluid">
    <div class="row-fluid">
      <div class="page-left">
        <%= content_tag :h2, @project.headline, :class => "project-h2" %>
        <div class="jiathis-button-container">
          <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style_24x24">
            <span class="jiathis_txt">分享到：</span>
            <%#= link_to "#", :remote => true, :class => "loggedin hidden" do %>
              <%#= image_tag "sina-logo-s24.png", :class => "jiathis_txt jticon", :style => "padding-right: 4px;" %>
            <%# end %>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_douban"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a href="http://www.jiathis.com/share?uid=89712" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
          </div>
          <!-- JiaThis Button END -->
          <div class="clearfix"></div>
        </div>

        <%= render :partial => "desc_info" %>

        <%= content_tag :div, :class => 'description' do %>
          <%= @project.description.html_safe %>
        <% end %>
      </div>

      <div class="page-right">
        <div class="section first-section button-content">
          <div class="buttons">
            <% if !@project.closed? %>
              <%= button_link "blue-btn" do %>
                <% link_to t("projects.info.donate"), donate_path(:project_id => @project.id),
                    :id => "project-donate",
                    :class => "no-decoration" %>
              <% end %>
            <% else %>
              <div class='button disabled'>
                <div class='btn-left'>
                  <%= content_tag :div, t("projects.info.donate"), :class => "btn-content"%>
                </div>
                <div class='btn-right'> </div>
              </div>
            <% end %>
            <%= button_link "green-btn" do %>
              <% link_to t("projects.info.follow"), follow_path(:id => @project.id),
                    :method => :post,
                    :remote => true,
                    "data-check-following-url" => check_following_path(:id => @project.id),
                    :id => "project-follow",
                    :class => "no-decoration" %>
            <% end %>
            <div class='button disabled hidden' style='display: none;'>
              <div class='btn-left'>
                <%= content_tag :div, t("projects.info.following"),
                      :id => "project-following",
                      :class => "btn-content" %>
              </div>
              <div class='btn-right'> </div>
            </div>
          </div>
        </div>

        <div class="section">
          <%= content_tag :h2, t("projects.info.target_amount") %>
          <%= content_tag :div, number_to_currency(@project.target_amount), :class => "desc-detail amount-text" %>
        </div>

        <div class="section">
          <%= content_tag :h2, t("projects.info.current_amount") %>
          <%= content_tag :div, number_to_currency(@project.current_amount), :class => "desc-detail amount-text" %>
        </div>

        <div class="section">
          <%= content_tag :h2, t("projects.info.countdown") %>
          <%= content_tag :div, "", :class => "desc-detail countdown" do %>
            <div id = 'countdown-timer' >
              <%= get_time_left(@project).html_safe %>
            </div>
          <% end %>
        </div>

        <div class="section">
          <%= content_tag :h2, t("projects.info.donate_user_count") %>
          <div>
            <%= content_tag :span, @project.donated_users.count, :class => "desc-detail amount-text blue" %>
            <%= content_tag :span, t("projects.info.people_count") %>
          </div>
        </div>

        <div class="section" id="followed-count-container">
          <%= content_tag :h2, t("projects.info.has_followed") %>
          <div>
            <%= content_tag :span, @project.followed_users.count, :class => "desc-detail amount-text blue"%>
            <%= content_tag :span, t("projects.info.people_count") %>
          </div>
        </div>

        <div class="section">
          <div class='donated-users'>
            <%= content_tag :h2, t('projects.section.donated_users') %>
            <ul>
              <% @payments.each do |payment| %>
                <li> <%= render :partial => "user_thumb", :locals => { :payment => payment } %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @projects,
        :path => "projects",
        :key => "other_projects",
        :no_title => false,
        :show_caption => false,
        :link_opts_for_item => lambda {|item| project_path(item) },
        :items_per_col => 5 } %>
</div>

<script type="text/javascript" >
var jiathis_config={
    data_track_clickback:true,
    url: document.location.href,
    siteNum: 10,
    sm:"kaixin001,renren,tsohu,t163,douban,tieba,msn,qq,youdao,qingsina",
    summary: <%= "我在寸心网关注了“#{@project.headline}”".to_json.html_safe %>,
    title:"",
    pic: <%= "#{ASSET_HOST}#{image_path(@project.thumbnail("1280"))}".to_json.html_safe %>,
    ralateuid:{
        "tsina":"2869358377"
    },
    appkey:{
        "tsina": <%= WeiboOAuth2::Config.api_key.to_json.html_safe %>
    },
    hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=89712" charset="utf-8"></script>
<script type="text/javascript">
  var targetDate = new Date( <%= (@project.finished_at.to_f*1000).floor %>);
</script>
