<div class="head-carousel-wrapper">
  <div id="head-carousel" class="carousel head-carousel nav-scroll-control">
    <div class="carousel-inner relative">
      <div class="active item cunxin-thumb-large-container">
        <%= image_tag @project.thumbnail("1280"), :alt => @project.headline, :class => "resizeable", "data-image-large" => @project.thumbnail("1600") %>
      </div>
    </div>
    <div class="project-info-container-positioner">
      <div class="project-info-container">
        <%= render :partial => "info" %>
      </div>
    </div>
  </div>
  <div class="cunxin-thumb-indicator"> </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @photos, 
        :path => "projects",
        :key => "photo", 
        :no_title => true,
        :show_caption => false,
        :link_opts_for_item => lambda {|item|
          ["#", {:class => "cunxin-thumb", "data-cunxin-thumb-large-src" => item.thumbnail_large}] },
        :items_per_col => 5 } %>
</div>

<div class="project-description-content">
  <div class="container container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <%= content_tag :h2, @project.headline, :class => "project-h2" %>
        <div class="jiathis-button-container">
          <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style_24x24">
            <span class="jiathis_txt">分享到：</span>
            <%= link_to "#", :remote => true, :class => "loggedin hidden" do %>
              <%= image_tag "sina-logo-s24.png", :class => "jiathis_txt jticon", :style => "padding-right: 4px;" %>
            <% end %>
            <a class="jiathis_button_tsina anonymous"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_douban"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a href="http://www.jiathis.com/share?uid=89712" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
          </div>
          <!-- JiaThis Button END -->
          <div class="clearfix"></div>
        </div>

        <%= render :partial => "desc_info" %>

        <%= content_tag :div, :class => 'description' do %>
          <%= @project.description.html_safe %>
        <% end %>
      </div>

      <div class="span3 offset1">
        <div class="section first-section">
          <div class='donated-users'>
            <%= content_tag :h2, t('projects.section.donated_users') %>
            <ul>
              <% @payments.each do |payment| %>
                <li> <%= render :partial => "user_thumb", :locals => { :payment => payment } %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @projects,
        :path => "projects",
        :key => "other_projects",
        :no_title => false,
        :show_caption => false,
        :link_opts_for_item => lambda {|item| project_path(item) },
        :items_per_col => 5 } %>
</div>

<script type="text/javascript" >
var jiathis_config={
    data_track_clickback:true,
    url: document.location.href,
    siteNum: 10,
    sm:"kaixin001,renren,tsohu,t163,douban,tieba,msn,qq,youdao,qingsina",
    summary: <%= @project.headline.to_json.html_safe %>,
    title:"#寸心公益#",
    ralateuid:{
        "tsina":"2989934492"
    },
    appkey:{
        "tsina": <%= WeiboOAuth2::Config.api_key.to_json.html_safe %>
    },
    hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=89712" charset="utf-8"></script>
<script type="text/javascript">
  var targetDate = new Date( <%= (@project.finished_at.to_f*1000).floor %>);
</script>
