<div id="head-carousel" class="carousel head-carousel">
  <div class="carousel-inner relative">
    <div class="active item cunxin-thumb-large-container">
      <%= image_tag @project.thumbnail_large, :alt => @project.headline %>
    </div>
  </div>
  <div class="project-info-container-positioner">
    <div class="project-info-container">
      <%= render :partial => "info" %>
    </div>
  </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @photos, 
        :path => "projects",
        :key => "photo", 
        :no_title => true,
        :show_caption => false,
        :link_opts_for_item => lambda {|item|
          ["#", {:class => "cunxin-thumb", "data-cunxin-thumb-large-src" => item.thumbnail_large}] },
        :items_per_col => 5 } %>
</div>

<div class="project-description-content">
  <div class="container container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <%= content_tag :h2, @project.headline, :class => "project-h2" %>
        <div class="jiathis-button-container">
          <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style_24x24">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_douban"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a href="http://www.jiathis.com/share?uid=89712" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
          </div>
          <!-- JiaThis Button END -->
          <div class="clearfix"></div>
        </div>
        <%= content_tag :div, :class => 'description' do %>
          <%= @project.description.html_safe %>
        <% end %>
      </div>

      <div class="span3 offset1">
        <div class="section first-section">
          <%= content_tag :h2, t('projects.section.charity') %>
          <div>
            <%= link_to @project.charity.name, @project.charity.link_url, :target => "blank" %>
          </div>
          <div>
            <%= t('projects.section.projects_count_for_charity') %>
            <%= @project.charity.projects.count %>
          </div>
        </div>
        <div class="section related-projects-container">
          <%= content_tag :h2, t("projects.section.related_projects") %>
          <div>
            <ul class="related-projects">
              <% @projects.each do |project| %>
                <li>
                  <%= link_to project_path(project) do %>
                    <%= image_tag project.thumbnail_small %>
                  <% end %>
                  <div>
                    <%= link_to project.headline, project_path(project) %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="section">
          <% unless @payments.blank? %>
            <div class='donated-users'>
              <%= content_tag :h2, t('projects.section.donated_users') %>
              <ul>
                <% @payments.each do |payment| %>
                  <li> <%= render :partial => "user_thumb", :locals => { :payment => payment } %> </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=89712" charset="utf-8"></script>
