<div class='masterhead'>
  <div class='container'>
    <div id="head-carousel" class="carousel head-carousel">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @project.thumbnail_large %>
          <div class="carousel-caption">
            <div class="head-desc-container">
              <div class="desc-left">
                <div class="desc-content">
                  <%= content_tag :span, t("projects.progress")%>
                  <div class='progress' style="margin-left: 10px; width: 400px; position: absolute;">
                    <div class='bar' style="width: 35%;"> </div>
                    <div class='progress-text-container' >
                      35%
                    </div>
                  </div>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.location")%>
                  <%= content_tag :span, @project.location%>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.published_at")%>
                  <%= content_tag :span, @project.published_at %>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.target")%>
                  <%= content_tag :span, @project.target %>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.target_amount")%>
                  <%= content_tag :span, @project.target_amount %>
                </div>
                <div class="desc-content">
                  <%= content_tag :span, t("projects.charity")%>
                  <%= content_tag :span, @project.charity.name rescue "" %>
                </div>
              </div>
              <div class="desc-right">
                <div class="noticed"> <%= t("projects.has_noticed", :count => @project.count_noticed_users) %> </div>
                <div class="buttons">
                  <div class='donate button'> <%= t("projects.donate") %></div>
                  <div class='notice button'> <%= t("projects.notice") %></div>
                </div>
              </div>
              <div style="clear: both"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <%= content_tag :h1, @project.headline %>
    <%= content_tag :div, @project.description, :class => 'description' %>
  </div>
</div>

<%= render :partial => "col4_carousel", :locals => {:items => @photos, :key => "photo", :no_title => true} %>

<div class="comments">

</div>
