<div id="head-carousel" class="carousel head-carousel">
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag @project.thumbnail_large, :alt => @project.headline %>
    </div>
  </div>
  <div class="project-info-container">
    <%= render :partial => "info" %>
  </div>
</div>

<div class="container project-carousel">
  <%= render :partial => "shared/colx_carousel", :locals => {
        :items => @photos, 
        :path => "projects",
        :key => "photo", 
        :no_title => true,
        :items_per_col => 4 } %>
</div>

<div class="container container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <%= content_tag :h2, @project.headline %>
      <%= content_tag :div, @project.description, :class => 'description' %>
    </div>

    <% unless @donated_users.blank? %>
      <div class='donated-users span4'>
        <%= content_tag :h2, t('projects.donated_users') %>
        <ul>
          <% @donated_users.each do |user| %>
            <li> <%= render :partial => "user_thumb", :locals => { :user => user } %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
