<div class='project-desc-wrapper' >
  <div class='project-thumbnail'>
    <%= link_to project_path(@project), :title => @project.headline do %>
      <%= image_tag @project.thumbnail_small, :alt => @project.headline %>
      <%= @project.headline %>
    <% end %>
  </div>

  <table>
    <tr class='desc-content'>
      <%= content_tag :td, t('donation.info.target_amount'), :class => 'col1' %>
      <%= content_tag :td, number_to_currency(@project.target_amount), :class=> 'col2' %>
    </tr>

    <tr class='desc-content'>
      <%= content_tag :td, t('donation.info.current_amount'), :class => 'col1' %>
      <%= content_tag :td, number_to_currency(@project.current_amount), :class=> 'col2' %>
    </tr>

    <tr class="desc-content">
      <%= content_tag :td, t("donation.info.countdown"), :class=>"col1" %>
      <%= content_tag :td, "", :class => "col2" do %>
        <div id = 'countdown-timer' > <%= get_time_left(@project).html_safe %> </div>
      <% end %>
    </tr>

    <tr class="desc-content">
      <%= content_tag :td, t("donation.info.has_followed"), :class => "col1" %>
      <%= content_tag :td, number_with_delimiter(@project.followed_users.count), :class => "col2" %>
    </tr>
  </table>

  <div style="clear: both;"> </div>
</div>
