<div class='container no-head-carousel donate-page ' >
  <%= content_tag :h1, @project.headline %>
  <div class='page-left'>
    <%= form_tag( {:action => "pay"}, :method => :post, :id => 'donate-form', :target => :blank) do %>
      <input name='order_id' type='hidden' id='order_id', val='' />
      <div>
        <div class='selector-wrapper'>
          <%= content_tag :h2, t("donation.select_donate_amount") %>
          <ul class='donate-amount-select' >
            <% [10,20,50,100].each do |v| %>
              <li>
                <%= radio_button_tag :donate_amount, v, @default_amount == v %>
                <%= label_tag "payment.donate_amount_" + v.to_s, "¥" + v.to_s, :class => "amount-text" %>
              </li>
            <% end %>
            <li>
              <%= radio_button_tag :donate_amount, "other" %>
              <%= label_tag "payment.donate_amount_other", t("donation.donate_amount_other"), :class => "amount-text" %>
              <span class='other-amount-input'>
                <span>¥</span>
                <%= text_field_tag :input_amount, "", :disabled => true %>
              </span>
            </li>
            <div style="clear: both;"> </div>
          </ul>
          <div style="clear: both;"> </div>

          <%= content_tag :h2, t("donation.select_payment") %>
          <% unless @default_payment.blank?  %>
            <ul class='payment-select' >
              <li class="select">
                <%= radio_button_tag :payment_method, @default_payment[:name], true %>
                <div class='payment-logo'>
                  <%= image_tag @default_payment[:img_url] %>
                </div>
                <a id='choose-other-method' href='#' >
                  <%= t("donation.choose_other_method") %>
                </a>
              </li>
            </ul>
            <div style="clear: both;"> </div>
          <% end %>
          <div id='all-donate-method' class='<%= @default_payment.blank? ? '' : 'hide' %>'>
            <% unless @payment_target.find_all{|h| h[:category] == :bank }.blank? %>
              <%= content_tag :h3, t("donation.payment_bank") %>
              <ul class='payment-select' >
                <% @payment_target.find_all{|h| h[:category] == :bank }.each do |h| %>
                  <li>
                    <%= radio_button_tag :payment_method, h[:name] %>
                    <div class='payment-logo'>
                      <%= image_tag h[:img_url] %>
                    </div>
                  </li>
                <% end %>
                <div style="clear: both;"> </div>
              </ul>
            <% end %>
            <div style="clear: both;"> </div>
            <% unless @payment_target.find_all{|h| h[:category] == :platform }.blank? %>
              <%= content_tag :h3, t("donation.payment_platform") %>
              <ul class='payment-select'>
                <% @payment_target.find_all{|h| h[:category] == :platform }.each do |h| %>
                  <li>
                    <%= radio_button_tag :payment_method, h[:name] %>
                    <div class='payment-logo'>
                      <%= image_tag h[:img_url] %>
                    </div>
                  </li>
                <% end %>
                <div style="clear: both;"> </div>
              </ul>
              <div style="clear: both;"> </div>
            <% end %>
          </div>

          <%= content_tag :h2, t("donation.select_anonymous_donate") %>
          <ul class='donate-anonymous-check'>
              <li>
                <%= check_box_tag :anonymous, 1 %>
                <%= label_tag "payment.anonymous", t("donation.anonymous_donate") %>
              </li>
          </ul>

          <%= hidden_field_tag :project_id, @project.id %>
          <div class='agree-service'>
            <%= check_box_tag 'agree_our_service', 'yes', true %>
            <%= label_tag "payment.agree_our_service", t("donation.agree_our_service") %>
          </div>
          <div><%= submit_tag t("donation.pay"), :id => 'pay-submit', :class => "blue-button small-button" %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='page-right'>
    <%= render :partial => 'donate_project_desc' %>
  </div>
  <div style="clear: both;"> </div>
</div>
<%= render :partial=>'pay_confirm_popup' %>
