<div class='container no-head-carousel pay-success-page'>
    <div class='image-wrapper'>
      <%= image_tag "wengweng_1.png" %>
    </div>

    <%= content_tag :h1, t('donation.success.thank_note'), :class =>'thank-note' %>

    <div class='info'>
      <div class='info-row'>
        <%= content_tag :div, t('donation.success.project'), :class =>'title' %>
        <%= content_tag :div, @project.headline, :class => 'value' %>
      </div>
      <div class='info-row'>
        <%= content_tag :div, t('donation.success.amount'), :class =>'title' %>
        <%= content_tag :div, number_to_currency(@payment.amount), :class => 'value' %>
      </div>
      <div style='clear: both'> </div>
    </div>

  <%= content_tag :div, t('donation.success.notice').html_safe, :class=>'notice' %>

</div>
<script type="text/javascript">
  window.setTimeout( function() { location.href=<%= ("\"%s\""%url_for(:controller => :profile, :action => :donations)).html_safe %>; }, 5000);
</script>
