<div class="contact container no-head-carousel static-page">
  <div class="item relative" id="<%= 'about-item-%d' % 6 %>">
    <%= image_tag "/images/about/Slide%d.jpg" % 6 %>
    <div class="contact-info">
      <div id="about-sina-weibo" class="info-item">
        <div id="contact-cunxin-follow"></div>
      </div>
      <div id="about-weixin" class="info-item">
        <%= image_tag "cunxin-weixin-barcode.jpg", :size => "50x50", 
          "data-toggle" => "modal",
          "data-target" => "#cunxin-weixin-larger-container",
          :class => "enlargeable" %>
        <div>微信号：<br/>cunxin_cn</div>
      </div>
      <div id="about-email" class="info-item">
        help@cunxin.org
      </div>
    </div>
  </div>
  <div class="modal hide fade" id="cunxin-weixin-larger-container">
    <%= image_tag "cunxin-weixin-barcode-large.jpg" %>
    <div class="close-button" data-dismiss="modal"></div>
  </div>
</div>

<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=<%= WeiboOAuth2::Config.api_key %>" type="text/javascript" charset="utf-8"></script>
<%= javascript_tag do %>
WB2.anyWhere(function(W){
    W.widget.followButton({
        'id': "contact-cunxin-follow",
        'nick_name': '寸心技术'
    });
});
<% end %>
