<div class="contact container no-head-carousel static-page">
  <div class="item relative">
    <%= image_tag "/images/contact-joinus.jpg" %>
    <div class="row-fluid contact-info">
      <div class="span4 info-item">
        <h2>官方微博</h2>
        <%= link_to "http://www.weibo.com/u/2869358377", :class => "no-decoration", :target => "blank" do %>
          <%= image_tag "cunxin-weibo-logo.png", :size => "80x80" %>
        <% end %>
        <div class="sina-weibo-follow-container">
          <wb:follow-button uid="2869358377" type="red_1" width="67" height="24" ></wb:follow-button>
        </div>
      </div>
      <div class="span4 info-item">
        <h2>官方微信</h2>
        <%= image_tag "cunxin-weixin-barcode.jpg", :size => "80x80", 
          "data-toggle" => "modal",
          "data-target" => "#cunxin-weixin-larger-container",
          :class => "enlargeable" %>
        <div class="weixin-number-container">微信号：cunxin_cn</div>
      </div>
      <div class="span4 info-item">
        <h2>联系我们</h2>
        <div class="email-container">
          <%= mail_to "help@cunxin.org" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal hide fade" id="cunxin-weixin-larger-container">
    <%= image_tag "cunxin-weixin-barcode-large.jpg" %>
    <div class="close-button" data-dismiss="modal"></div>
  </div>
</div>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
