<div class='support-page container'>
  <div class='header relative'>
    <%= image_tag "home.jpg", "data-image-large" => image_path("home-1600.jpg"), :class => "resizeable" %>
    <div class='support-us-btn'>
      <div class='button blue-btn'>
        <div class="btn-left">
          <%= link_to t("supports.support_us"), "#" %>
        </div>
        <div class="btn-right">
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <% @supports.each do |support| %>
      <div class="pic-block" id=<%=support.id%> >
        <%= image_tag support.photo.thumb("960"), :alt => support.photo.name %>
        <%= content_tag :div, support.photo.description, :class => "pic-desc" %>
      </div>
    <% end %>
    <div style="clear: both">
  </div>
</div>
