<div class='support-page container'>
  <div class='header relative'>
    <%= image_tag "cunxin-everybody.jpg" %>
  </div>

  <div class='slogan-download'>
    <%= content_tag :span, t("supports.slogan.download"), :class => "title" %>
    <%= link_to t("supports.slogan.dark"), image_path("cunxin-slogan-dark.jpg"), :target => "_blank" %>
    <%= link_to t("supports.slogan.light"), image_path("cunxin-slogan-light.jpg"), :target => "_blank" %>
  </div>

  <div class="content" style="position: relative">
    <%= image_tag "/assets/loading_lg.gif", :class => 'loading' %>
    <% @supports.each do |support| %>
      <div class="pic-block">
        <div class="pic-content-wrapper">
          <%= link_to "#", :class => "show-image-link", :'data-cunxin-thumb-large-src' => support.photo.thumb("960") do %>
            <%= image_tag support.photo.thumb("280"), :alt => support.photo.name %>
          <% end %>
          <div class='pic-desc'>
            <% if support.weibo_url.blank? %>
              <%= content_tag :div, support.name, :class => "name-tag" %>
            <% else %>
              <div class="name-tag">
                <%= link_to support.name, support.weibo_url, :target => "_blank" %>
              </div>
            <% end %>
            <div class='detail-desc'>
              <% unless support.career.blank? %>
                <%= t("supports.career", :career => support.career) %> <br>
              <% end %>
              <% unless support.location.blank? %>
                <%= t("supports.location", :location => support.location) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div style="clear: both"></div>
  </div>
  <div id='page-nav' style='display: none'>
    <%= link_to "", :action =>"index", :page => (@page||1)+1 %>
  </div>

  <div class="modal hide fade" id="large-image-modal">
    <div class="close-button" data-dismiss="modal"></div>
    <div class="large-image-wrapper">
      <%= image_tag "/assets/loading_lg.gif", :class => 'loading' %>
    </div>
  </div>
</div>
