<div class='support-page container'>
  <div class='header relative'>
    <%= image_tag "home.jpg", "data-image-large" => image_path("home-1600.jpg"), :class => "resizeable" %>
  </div>

  <div class="content">
    <% @supports.each do |support| %>
      <div class="pic-block">
        <div class="pic-content-wrapper">
          <%= link_to "#", :class => "show-image-link", :'data-cunxin-thumb-large-src' => support.photo.thumb("960") do %>
            <%= image_tag support.photo.thumb("280"), :alt => support.photo.name %>
          <% end %>
          <div class='pic-desc'>
            <% if support.weibo_url.blank? %>
              <%= content_tag :div, support.name, :class => "name-tag" %>
            <% else %>
              <div class="name-tag">
                <%= link_to support.name, support.weibo_url, :target => "_blank" %>
              </div>
            <% end %>
            <div class='detail-desc'>
              <% unless support.career.blank? %>
                <%= t("supports.career", :career => support.career) %> <br>
              <% end %>
              <% unless support.location.blank? %>
                <%= t("supports.location", :location => support.location) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div style="clear: both">
  </div>
  <div id='page-nav' style='display: none'>
    <%= link_to "", :action =>"index", :page => (@page||1)+1 %>
  </div>

  <div class="modal hide fade" id="large-image-modal">
    <div class="close-button" data-dismiss="modal"></div>
    <div class="large-image-wrapper">
      <% unless @supports.blank? %>
        <%= image_tag @supports[0].photo.thumb("960") %>
      <% end %>
    </div>
  </div>
</div>
