<div id="account-info" class="section">
  <legend><%= t("profile.legend.account") %></legend>
  <%= form_for(@user, 
               :as => "user", 
               :url => update_user_fields_path(:action => :update_name),
               :remote => true,
               :html => {
                  "data-prefix" => "account",
                  :class => "form-horizontal editable", 
                  :id => "name-form"}) do |f| %>
    <div class="control-group editable-icon-container" id='account-name-field'>
      <%= f.label :name, t("profile.account.name"), :class => "control-label" %>
      <div class="controls">
        <%= content_tag :span, @user.name, :class => "field-content" %>
        <%= link_to "", "#", :class => "editable-icon editable-icon-13" %>
        <%= f.text_field :name, :auto_focus => true, :class => "field-input editing" %>
        <span class="help-inline editing"></span>
      </div>
    </div>
    <div class="control-group editing">
      <div class="controls">
        <%= f.submit t("profile.submit"), :class => "btn btn-primary" %>
        <%= f.submit t("profile.cancel"), :class => "btn btn-cancel editable-cancel" %>
      </div>
    </div>
  <% end %>

  <%= form_for(@user, 
               :as => "user", 
               :url => update_user_fields_path(:action => :update_email),
               :remote => true,
               :html => {
                "data-prefix" => "account",
                :class => "form-horizontal editable", 
                :id => "email-form"}) do |f| %>
    <div class="control-group" id='account-email-field'>
      <%= f.label :email, t("profile.account.email"), :class => "control-label" %>
      <div class="controls">
        <%= content_tag :span, :class => "field-content" do %>
          <%= @user.email %>
          <% if !@user.confirmed? %>
            <span class="gray">
              <span>
                (<%= t("profile.account.email_not_confirmed") %>,
                <%= link_to t("profile.account.resend_confirmation"), resend_confirmation_path, :remote => true, :method => :post, :id => "resend-confirmation" %>
                )
              </span>
              <span class="hide gray" id="confirmation-resent">
                (<%= t("profile.account.confirmation_resent") %>)
              </span>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= form_for(@user, 
               :as => "user", 
               :url => update_user_fields_path(:action => :update_password),
               :remote => true,
               :html => {
                  "data-prefix" => "account",
                  :class => "form-horizontal editable", 
                  :id => "password-form"}) do |f| %>
    <div class="control-group editable-icon-container" id='account-current_password-field'>
      <%= f.label :password, t("profile.account.current_password"), :class => "control-label" %>
      <div class="controls">
        <%= content_tag :span, "**********", :class => "field-content" %>
        <%= link_to "", "#", :class => "editable-icon editable-icon-13" %>
        <%= f.password_field :current_password, :auto_focus => true, :class => "field-input editing" %>
        <span class="help-inline editing"></span>
      </div>
    </div>

    <div class="control-group editing" id='account-password-field'>
      <%= f.label :password, t("profile.account.password"), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :auto_focus => true, :class => "field-input editing" %>
        <span class="help-inline editing"></span>
      </div>
    </div>

    <div class="control-group editing" id='account-password_confirmation-field'>
      <%= f.label :password_confirmation, t("profile.account.password_confirmation"), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :auto_focus => true, :class => "field-input editing" %>
        <span class="help-inline editing"></span>
      </div>
    </div>
    <div class="control-group editing">
      <div class="controls">
        <%= f.submit t("profile.submit"), :class => "btn btn-primary" %>
        <%= f.submit t("profile.cancel"), :class => "btn btn-cancel editable-cancel" %>
      </div>
    </div>
  <% end %>
</div>

<div id="profile-info" class="section">
  <%= form_for(@user.profile, 
               :as => "profile", 
               :url => update_profile_path, 
               :remote => true,
               :html => {
                "data-prefix" => "profile",
                :class => "form-horizontal editable", 
                :id => "profile-form"}) do |f| %>
    <legend class="editable-icon-container">
      <%= t("profile.legend.address") %>
      <%= link_to "", "#", :class => "editable-icon editable-icon-20" %>
    </legend>
    <% Profile::FIELDS.each do |field| %>
      <div class="control-group" id='profile-<%= field %>-field'>
        <%= f.label field, t("profile.field.%s" % field), :class => "control-label" %>
        <div class="controls">
          <%= content_tag :span, @user.profile.send(field), :class => "field-content" %>
          <%= f.text_field field, :auto_focus => true, :class => "field-input editing" %>
          <span class="help-inline editing"></span>
        </div>
      </div>
    <% end %>
    <div class="control-group">
      <div class="controls">
        <%= f.submit t("profile.submit"), :class => "editing btn btn-primary" %>
        <%= f.submit t("profile.cancel"), :class => "editing btn btn-cancel editable-cancel" %>
      </div>
    </div>
  <% end %>
</div>

<div id="oauth-bindings" class="section">
  <%= form_for @user, :html => {:class => "form-horizontal"} do %>
    <legend><%= t("profile.legend.bindings") %></legend>
    <div class="control-group">
      <label class="control-label"><%= t("profile.bindings.sina.label") %></label>
      <div class="controls">
        <div class="sina-connect-status">
          <% if @user.sina_connected? %>
            <%= image_tag "sina-logo-24.png" %>
            <%= link_to t("profile.bindings.disconnect"), sina_disconnect_path %>
          <% else %>
            <%= link_to sina_connect_path, :class => "no-decoration" do %>
              <%= image_tag "sina-logo-24-gray.png" %>
            <% end %>
            <%= link_to t("profile.bindings.connect"), sina_connect_path %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
