<% if @donations_count == 0 %>
  <div class="text-info"><%= t("profile.donations.no_donations") %></div>
<% end %>
<% unless @payments.empty? %>
  <table class="table table-striped followed-projects">
    <tr>
      <th colspan=2><%= t("profile.donations.header.project") %></th>
      <th><%= t("profile.donations.header.amount") %></th>
      <th><%= t("profile.donations.header.time") %></th>
    </tr>
    <% @payments.each do |payment| %>
      <% project = payment.project %>
      <tr class="project">
        <td class='td20'>
          <%= link_to project_path(project) do %>
            <%= image_tag project.thumbnail_small, :class => "project-thumb-small" %>
          <% end %>
        </td>
        <td class='td40'>
          <%= link_to project.headline, project_path(project) %>
        </td>
        <td class='td15 text-center'>
          <%= number_to_currency(payment.amount) %>
        </td>
        <td class='td25'>
          <%= payment.created_at.in_time_zone("Beijing").strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
