<% if @projects.empty? %>
  <div class="text-info"><%= t("profile.projects.not_following") %></div>
<% else %>
  <table class="table table-striped followed-projects">
    <tr>
      <th colspan=2><%= t("profile.projects.header.project") %></th>
      <th><%= t("profile.projects.header.operation") %></th>
    </tr>
    <% @followed_projects.each do |project| %>
      <tr class="project">
        <td class='td20'>
          <%= link_to project_path(project) do %>
            <%= image_tag project.thumbnail_small, :class => "project-thumb-small" %>
          <% end %>
        </td>
        <td class='td40'>
          <%= link_to project.headline, project_path(project) %>
        </td>
        <td class='td40'>
          <div style="text-align: center;">
            <% if !project.closed? %>
              <%= link_to t("profile.projects.donate"), donate_path(:project_id => project.id), :class => "super-small-button blue-button button-small-w4" %>
            <% else %>
              <div class="super-small-button dark-gray-button button-small-w4">
                <%= t("profile.projects.donate") %>
              </div>
            <% end %>
            <%= link_to t("profile.projects.unfollow"), 
                  unfollow_path(project), 
                  :class => "super-small-button gray-button unfollow-project button-small-w4", 
                  :remote => true, 
                  :method => :post %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
