<div id='footer' class='footer'>
  <div class='container'>
    <div class='footer-links'>
      <span class='span3' style='height: 300px'> 
        <div class=''> <%= t("footer.home") %> </div>
        <ul>
          <li> <%= link_to t("footer.media"), "/media" %> </li>
          <li> <%= link_to t("footer.help"), "/help" %> </li>
        </ul>
      </span>
      <span class='span3' style='height: 300px'> 
        <div class=''> <%= t("footer.charities") %> </div>
        <ul>
        </ul>
      </span>
      <span class='span3' style='height: 300px'> 
        <div class=''> <%= t("footer.contributors") %> </div>
        <ul>
        </ul>
      </span>
      <span class='span2' style='height: 300px'> 
        <div class=''> <%= t("footer.about_us") %> </div>
        <ul>
          <li> <%= link_to t("footer.introduction"), "/introduction" %> </li>
          <li> <%= link_to t("footer.team"), "/team" %> </li>
          <li> <%= link_to t("footer.contact"), "/contact" %> </li>
          <li> <%= link_to t("footer.blog"), "/blog" %> </li>
          <li> <%= link_to t("footer.usage"), "/usage" %> </li>
        </ul>
      </span>
      <div class='clear-fix'>
    </div>
    <div class='divider'> </div>
    <div class='container'>
      <span> <%= t("footer.copyright") %> </span>
    </div>
  </div>
</div>
