<div id='footer' class='footer'>
  <div class='footer-inner container'>
    <div class='footer-links'>
      <span> <%= link_to t("footer.introduction"), "/introduction" %> </span>
      <span class="separator"></span>
      <span> <%= link_to t("footer.team"), "/team" %> </span>
      <span class="separator"></span>
      <span> <%= link_to t("footer.contact"), "/contact" %> </span>
      <span class="separator"></span>
      <span> <%= link_to t("footer.blog"), "/blog" %> </span>
      <span class="separator"></span>
      <span> <%= link_to t("footer.usage"), "/usage" %> </span>
    </div>
    <div class='copyright-container container'>
      <%= content_tag :span, t("footer.copyright"), :class => 'copyright' %>
    </div>
  </div>
</div>
