<%= link_to root_path, :class => 'brand' do %>
  <%= image_tag "logo-trans.png" %>
<% end %>
<ul class="nav pull-right" id="login-nav">
  <li class='anonymous'>
    <%= link_to t("signin.link"), "#", :class => "signin-modal-link", "data-target" => "#signin-modal" %>
  </li>

  <li class='anonymous'>
    <%= link_to t("signup.link"), signup_path %>
  </li>

  <li class="anonymous divider">
  </li>

  <li class='anonymous sina-login'>
    <%= link_to sina_connect_path do %>
      <%= image_tag "sina24.png" %>
    <% end %>
  </li>

  <li class="loggedin hidden user-thumb">
    <span>
      <img class="hidden"></img>
    </span>
  </li>

  <li class='loggedin hidden user-name'>
    <%= link_to "", profile_path %>
  </li>

  <li class='loggedin hidden user-logout'>
  <%= link_to t("signout.link"), destroy_user_session_path, :method => :delete %>
  </li>

</ul>
