<%= link_to root_path, :class => 'brand relative' do %>
  <%= image_tag "logo-trans.png" %>
<% end %>
<ul class="nav pull-right" id="login-nav">
  <li class='anonymous'>
    <%= link_to t("signin.link"), "#", :class => "signin-modal-link", "data-target" => "#signin-modal" %>
  </li>

  <li class='anonymous'>
    <%= link_to t("signup.link"), signup_path %>
  </li>

  <li class="anonymous divider">
  </li>

  <li class="loggedin hidden user-thumb">
    <span>
      <%= link_to profile_path do %>
        <img class="hidden"/>
      <% end %>
    </span>
  </li>

  <li class='loggedin hidden user-name'>
    <%= link_to "", profile_path %>
  </li>

  <li class='loggedin hidden user-logout'>
  <%= link_to t("signout.link"), destroy_user_session_path, :method => :delete %>
  </li>

</ul>
