<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8"/>
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    -->
    <title><%= content_for?(:title) ? yield(:title) : t("app.name") %></title>
    <meta name="description" content="<%= @meta_description %>"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=#{WeiboOAuth2::Config.api_key}" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= @body_class %>">
    <div class="nav-bar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top cunxin-nav-bar" id="cunxin-nav">
        <div class="navbar-inner">
          <div class="mask opacity0"> </div>
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
      <div class="navbar-shadow">
      </div>
    </div>

    <div id="main" role="main">
      <%= yield %>
      <%= render :partial => "shared/signin_modal" %>
    </div> <!--! end of #main -->
    <%= render 'layouts/footer' %>
    <% if Rails.env == "production" %>
      <div class="hide">
        <script type="text/javascript">
          $(document).ready(function() {
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            var script   = document.createElement("script");
            script.type  = "text/javascript";
            script.src   = _bdhmProtocol + "hm.baidu.com/h.js?5639ffaa76515a712a45b9bc9a8566c8";
            document.body.appendChild(script);
          })
        </script>
      </div>
    <% end %>
  </body>
</html>
